---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="Journal"
	description="A public journal where I share thoughts on anything."
>
	<p class="text-muted-foreground leading-relaxed">
		A public journal where I share thoughts on anything.
	</p>
</BaseLayout>
