---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="Jason Procka"
	description="A journal."
>
	<header class="flex flex-col gap-6">
		<h1 class="text-xl font-medium tracking-tight text-foreground md:text-2xl">
			Jason Procka
		</h1>
		<p class="text-muted-foreground leading-relaxed">
			A notebook in public. Setting up Keystatic.
		</p>
	</header>
</BaseLayout>
